html {
  font-size: 100%; }

body {
  font-size: 1em;
  line-height: 1.5;
  font-weight: 300;
  color: #003822;
  background-color: #fce6bf;
  font-family: "Lato", Helvetica, Arial, sans-serif; }

hr {
  border-color: #fce6bf; }

a:link {
  color: #003822; }
a:visited {
  color: #54887F; }
a:hover {
  color: #54887F; }

@media (max-width: 500px) {
  .clear-boot-padding {
    padding: 0; } }
h2 {
  font-size: 2.5em;
  font-weight: 300; }

h5 {
  font-size: 1.125em;
  line-height: 1.5; }

.nyc-header {
  background-image: url("../images/nyc_header_alt.png");
  background-position: 100% 75%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 420px; }
  @media (max-width: 500px) {
    .nyc-header {
      height: 100%;
      background-position: 50%; } }

.clients-hero {
  background-image: url("../images/nyc_window.png");
  background-position: 50% 10%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 320px; }

.contact-hero {
  background-image: url("../images/prometheus.png");
  background-position: 50% 3%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 320px; }

.search-process-hero {
  background-image: url("../images/brooklyn.jpeg");
  background-position: 100% 75%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 320px; }

.navbar-default {
  background-color: #ffffff;
  border-color: #ffffff;
  background-color: #fce6bf;
  border-color: #fce6bf; }

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #54887F;
  background-color: #fce6bf; }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #54887F;
  background-color: #fce6bf; }

.navbar-brand img {
  height: 120px; }

.navbar-header {
  height: 160px;
  background-color: #ffffff;
  background-color: #fce6bf; }

.navbar-default .navbar-nav > li > a {
  color: #003822;
  text-transform: uppercase; }

.navbar-toggle .icon-bar {
  -webkit-transition: opacity, top, -webkit-transform;
  transition: opacity, top, -webkit-transform;
  transition: opacity, top, transform;
  transition: opacity, top, transform, -webkit-transform;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0, 0.7);
  transition-timing-function: cubic-bezier(0.7, 0, 0, 0.7);
  -webkit-transition-delay: 0, 200ms, 0;
  transition-delay: 0, 200ms, 0;
  position: relative;
  top: 0; }

.navbar-toggle:not(.collapsed) .icon-bar {
  -webkit-transition-delay: 0, 0, 200ms;
  transition-delay: 0, 0, 200ms; }

.navbar-toggle:not(.collapsed) .icon-bar:nth-child(2) {
  top: 6px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.navbar-toggle:not(.collapsed) .icon-bar:nth-child(3) {
  opacity: 0; }

.navbar-toggle:not(.collapsed) .icon-bar:nth-child(4) {
  top: -6px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.home-page-copy {
  font-size: 1.125em;
  line-height: 1.8;
  max-width: 800px;
  min-height: 350px;
  text-align: center;
  padding-bottom: 45px; }
  .home-page-copy h2 {
    padding: 25px 0 25px 0;
    color: #003822; }

.green-box {
  background-color: rgba(0, 56, 34, 0.7);
  color: #fce6bf;
  font-size: 1.5em;
  width: 40%;
  padding: 20px;
  position: relative;
  top: 50px;
  display: none;
  text-align: center; }
  @media (max-width: 500px) {
    .green-box {
      width: 100%;
      top: 0; } }

.page-title {
  padding: 25px 0 25px 0; }
  .page-title h2 {
    text-transform: uppercase; }

.logo-wrapper {
  padding: 40px 0 40px 0; }

.client-logos {
  min-height: 350px; }

/* Footer Styles */
.footer-section {
  background-color: #003822;
  color: #ffffff;
  color: #fce6bf;
  text-align: center; }

.footer-copy {
  padding: 10px 0 20px 0; }

.footer-wraps {
  padding: 45px 0 0 0; }

.footer-wrap {
  background-color: #003822;
  width: 100%; }

.footer-wraps a {
  color: #fce6bf; }
.footer-wraps a:hover {
  color: #ffffff;
  text-decoration: none; }

.one {
  width: 100%;
  background-color: #ffffff;
  background-color: #fce6bf; }

.main-nav-container {
  background-color: #ffffff;
  background-color: #fce6bf; }

/* Home Page Styles */
.home-section {
  background-color: #ffffff; }

.home-page-wrap {
  background-color: #ffffff;
  background-color: #fce6bf;
  width: 100%; }

.visible {
  display: block; }

.green-copy-box {
  background-color: #003822;
  color: #fce6bf;
  font-size: 1em;
  line-height: 28px;
  text-align: center;
  padding: 20px; }

.green-copy-wrap {
  max-width: 80%;
  margin: 0 auto; }

/*# sourceMappingURL=kelly.css.map */
