.home-page-copy {

	@include text(1.125em, 1.8);
	max-width: 800px;
	min-height: 350px;
	text-align: center;
	padding-bottom: 45px;

	h2 {
		padding: 25px 0 25px 0;
		color: #003822;
	}

}

.green-box {
	background-color: rgba(0,56,34,0.7);
	color: $kelly-cream;
	font-size: 1.5em;
	width: 40%;
	padding: 20px;
	position: relative;
	top: 50px;
	display: none;
	text-align: center;

	@media #{$brk-small} {
		width: 100%;
		top: 0;
	}
}

/* Home Page Styles */


// The visible class is used to display the green box on the home page with jQuery.

.visible {
	display: block;
}

.home-section {
	background-color: #ffffff;
}

.home-page-wrap {
	background-color: #ffffff;
	background-color: rgb(252,230,191);
	width: 100%;
}

.green-copy-box {
	background-color: #003822;
	color: rgb(252,230,191);
	font-size: 1em;
	line-height: 28px;
	text-align: center;
	padding: 20px;
}

.green-copy-wrap {
	max-width: 80%;
	margin: 0 auto;
}

.page-title {
	
	padding: 25px 0 25px 0;

	h2 {
		text-transform: uppercase;
	}

}

.logo-wrapper {
	padding: 40px 0 40px 0;
}

.client-logos {
	min-height: 350px;
}

/* Bootstrap Tabs */

.tab-content {
	padding: 30px 0 30px 0;
	
	@media #{$brk-narrow} {
		padding: 10px 0 30px 0;
	}
}

.pub-wrap {
	max-width: 800px;
	margin: 0 auto;
}

// This removes the margin from the tabs after the first one which was causing them to not be the same size.

@media #{$brk-narrow} {

	.nav-pills > li + li {
		margin-left: 0px;
	}

} 

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
	background-color: $kelly-green;
	color: $white;
}

.nav-pills  {

	> li a:hover {
		background-color: $white;
		border: 2px solid $kelly-green;
		color: $kelly-green;
	}

	> li > a {
		border-radius: 0;
		border: 2px solid $kelly-green;
		padding: 20px 0 20px 0;
		margin-right: 10px;
	}

}

// Search Process Page

.search-process {
	padding-bottom: 50px;
}

.search-process-wrap {
	max-width: 825px;
	margin: 0 auto;
	padding: 50px 0 50px 0;

	h3 {
		text-transform: uppercase
	}

	@media #{$brk-narrow} {
		text-align: center;
		padding: 0px 0 0px 0;
	}

}

// Contact Page


.contact-body {
	min-height: 300px;
}

.footer-wrap-contact {
	background-color: $kelly-green;
}





