.home-page-copy {

	@include text(1.125em, 1.8);
	max-width: 800px;
	min-height: 350px;
	text-align: center;
	padding-bottom: 45px;

	h2 {
		padding: 25px 0 25px 0;
		color: #003822;
	}

}

.green-box {
	background-color: rgba(0,56,34,0.7);
	color: $kelly-cream;
	font-size: 1.5em;
	width: 40%;
	padding: 20px;
	position: relative;
	top: 50px;
	display: none;
	text-align: center;

	@media #{$brk-small} {
		width: 100%;
		top: 0;
	}
}

// New Homepage styles

.home-section {
	background-color: #ffffff;
	background-color: #fce6bf;
}

.home-page {
	background-color: #ffffff;
	background-color: #fce6bf;
	text-align: center;
}

.home-page-copy {
	max-width: 800px;
	min-height: 350px;
	/*font-size: 18px;*/
	font-size: 1.125em;
	line-height: 1.875em;
}

.home-page-copy h2 {
	padding: 25px 0 25px 0;
	color: #003822;
}

.hide-hero {
	display: none;
}

ul.adj-list {
	text-align: center;
	padding-top: 50px;
	margin: 0;

	li {
		display: inline-block;
		color: #003822;
		font-size: 1.75em;

		@media #{$brk-1300} {
			font-size: 1.50em;
		}

		@media #{$brk-wide} {
			font-size: 1.75em;
		}

		@media #{$brk-small} {
			color: $white;
			margin-right: 5px;
		}

		@media #{$brk-430} {
			font-size: 1.25em;
		}

		@media #{$brk-375} {
			margin-right: 10px;
		}

		@media #{$brk-xsmall} {
			margin-right: 0px;
		}
	}

	> li:before {
		content: '\2022';
		margin-right: 0.5em;
		margin-left: 0.5em;

		@media #{$brk-small} {
			display: none;
		}
	}

	li:first-child:before {
		color: red;
		content: '';
	}

}

.stats {
	/*background-color: #003822;*/
	/*background-color: #fce6bf;*/
	background-color: #fce6bf;
	color: #ffffff;
	color: #003822;
	/*color: #003822;*/
	text-align: center;
	height: 250px;

	@media #{$brk-767} {
		height: 100%;
	}
}

.stat-wraps {

	padding: 25px 0 0 0;

	@media #{$brk-small} {
		padding: 25px 0 25px 0;
	}

	h2 {
		font-size: 3.75em;
		font-weight: 300;

		@media #{$brk-small} {
			margin: 0;
		}
	}

	p {
		font-size: 1.125em;
	}

}

// Home page styles 

// The visible class is used to display the green box on the home page with jQuery.

.visible {
	display: block;
}

.home-section {
	background-color: #ffffff;
}

.home-page-wrap {
	background-color: #ffffff;
	background-color: rgb(252,230,191);
	width: 100%;
}

.green-copy-box {
	background-color: #003822;
	color: rgb(252,230,191);
	font-size: 1em;
	line-height: 28px;
	text-align: center;
	padding: 20px;
}

.green-copy-wrap {
	max-width: 80%;
	margin: 0 auto;
}

.page-title {
	
	padding: 25px 0 25px 0;

	h2 {
		text-transform: uppercase;
	}

}

.logo-wrapper {
	padding: 40px 0 40px 0;

	// .row {
	// 	padding-bottom: 50px;

	// 	@media #{$brk-767} {
	// 		padding-bottom: 0px;
	// 	}
	// }

	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 3rem;

	@include responsive(min-width, 600px) {
		grid-template-columns: repeat(2, 1fr);
	}

	@include responsive(min-width, 768px) {
		grid-template-columns: repeat(3, 1fr);
	}

	@include responsive(min-width, 1400px) {
		grid-template-columns: repeat(4, 1fr);
	}
}

img.client-logo {
	max-width: 200px;

	// @media #{$brk-wide-two} {
	// 	max-width: 200px;
	// }

	// @media #{$brk-767} {
	// 	max-width: 100%;
	// }
}

/* Bootstrap Tabs */

.tab-content {
	padding: 30px 0 30px 0;
	
	@media #{$brk-narrow} {
		padding: 10px 0 30px 0;
	}
}

.pub-wrap {
	max-width: 800px;
	margin: 0 auto;
}

// This removes the margin from the tabs after the first one which was causing them to not be the same size.

@media #{$brk-narrow} {

	.nav-pills > li + li {
		margin-left: 0px;
	}

} 

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
	background-color: $kelly-green;
	color: $white;
}

.nav-pills  {

	> li a:hover {
		background-color: $white;
		border: 2px solid $kelly-green;
		color: $kelly-green;
	}

	> li > a {
		border-radius: 0;
		border: 2px solid $kelly-green;
		padding: 20px 0 20px 0;
		margin-right: 10px;
	}

}

// About Us Page

.about-us-wrap {
    max-width: 850px;
    margin: 0 auto;
    padding: 0 15px 50px 15px;
}

// Search Process Page

.search-process {
	padding-bottom: 50px;
}

.search-process-wrap {
	max-width: 825px;
	margin: 0 auto;
	padding: 50px 0 50px 0;

	h3 {
		text-transform: uppercase
	}

	@media #{$brk-narrow} {
		text-align: center;
		padding: 0px 0 0px 0;
	}

}

// Contact Page


.contact-body {
	min-height: 300px;
}

.footer-wrap-contact {
	background-color: $kelly-green;
}





