// New Footer Styles

.footer {
	font-weight: 400;
	/*font-size: 1.125em;*/
	background-color: #003822;
	color: #ffffff;
	padding-bottom: 15px;
	//height: 250px;

	@media #{$brk-767} {
		height: 100%;
	}

	img {
		width: 15%;
		padding-bottom: 12px;
	}

	a {
		color: $white;

		&:hover {
			color: $kelly-cream;
		}

		&:visited {
			color: $white;
		}
	}

	.social {
		float: right;

		@media #{$brk-small} {
			float: none;
			padding-top: 10px;
		}

		.fa-linkedin-square {

			&:hover {
				color: $kelly-cream;
			}
		}
	}

}

.footer-copy-left {
	padding: 60px 0 20px 0;
	text-align: center;
}

.footer-copy {
	padding: 50px 0 20px 0;
	text-align: center;
	max-width: 100%;
	margin: 0 auto;
}

.footer-copy p {
	font-size: 1em;
}

.footer-copy-right {
	padding: 60px 0 20px 0;
	text-align: center;

	img {
		width: 41%;
		padding: 0 0 26px 0;
	}
	.social {
		list-style: none;
		li {
			display: inline;
			padding-right: 10px;
			a {
			}
		}
	}
}

// .social li a {
// 	display: inline-block;
// }

.footer-wraps {
	padding: 25px 0 0 0;
}

// Empty footer

.footer-wrap-contact {
	color: $white;
}

/* Footer Styles */

// .footer-section {
// 	background-color: $kelly-green;
// 	color: $white;
// 	color: $kelly-cream;
// 	text-align: center;
// }

// .footer-copy {
// 	padding: 10px 0 20px 0;
// }

// .footer-wraps {
// 	padding: 45px 0 0 0;
// }

// .footer-wrap {
// 	background-color: $kelly-green;
// 	width: 100%;
// }

// .footer-wraps {

// 	a {
// 		color: $kelly-cream;
// 	}

// 	a:hover {
// 		color: $white;
// 		text-decoration: none;
// 	}

// }
