/* Footer Styles */

.footer-section {
	background-color: $kelly-green;
	color: $white;
	color: $kelly-cream;
	text-align: center;
}

.footer-copy {
	padding: 10px 0 20px 0;
}

.footer-wraps {
	padding: 45px 0 0 0;
}

.footer-wrap {
	background-color: $kelly-green;
	width: 100%;
}

.footer-wraps {

	a {
		color: $kelly-cream;
	}

	a:hover {
		color: $white;
		text-decoration: none;
	}
	
}

