// Header background images

.nyc-header {
    background-position: 100% 75%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 420px;
    
    @media #{$brk-narrow} {
	    background-position: 50%;
    }

    @media #{$brk-small} {
        height: 100%;
    }
}

.clients-hero {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 420px;
}

.contact-hero {
    background-position: 50% 3%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 420px;
}

.search-process-hero {
    background-position: 100% 60%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 420px;

    @media #{$brk-small} {
        background-position: 50%;
    }
}

// Navigation styles

.one {
	width: 100%;
	background-color: #ffffff;
	background-color: $kelly-cream;
}

.main-nav-container {
	background-color: #ffffff;
	background-color: $kelly-cream;
	padding: 0px;
	
	@media #{$brk-narrow} {
		padding-left: 15px;
		padding-right: 15px;
	}
}

#menu-main-navigation {
	margin-top: 85px;
	
	@media #{$brk-wide-two} {
		margin-top: -10px;
	}
}

.navbar-default {
    background-color: $white;
    border-color: $white;
    background-color: rgb(252,230,191);
    background-color: $kelly-cream;
    border-color: rgb(252,230,191);
    border-color: $kelly-cream;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: $active-link;
    background-color: $kelly-cream;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: $active-link;
    background-color: $kelly-cream;
}

.navbar {
	margin-bottom: 0px;
}

.navbar-brand img  {
    height: 115px;

    @media #{$brk-xsmall} {
        height: 90px;
    }
}

.navbar-header {
    height: 160px;
    background-color: $white;
    background-color: rgb(252,230,191);

    @media #{$brk-xsmall} {
        height: 135px;
    }
}

.navbar-default .navbar-nav > li > a {
    color: $kelly-green;
    text-transform: uppercase;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    background-color: transparent;
}

// Drop down menu

.dropdown-menu {
    background-color: $kelly-green;

    > li > a {
        color: $kelly-cream;
        padding: 7px 20px;
        text-transform: uppercase;
    }

    > li > a:hover {
        background-color: $kelly-cream;
        color: $kelly-green;
    }

    > .active > a {
        background-color: $kelly-cream;
        color: $kelly-green;

            &:hover {
                background-color: $kelly-cream;
                color: $kelly-green;
            }
    }
}

// Mobile menu animation

.navbar-toggle .icon-bar {
    -webkit-transition: opacity, top, -webkit-transform;
    transition: opacity, top, -webkit-transform;
    transition: opacity, top, transform;
    transition: opacity, top, transform, -webkit-transform;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0, 0.7);
    transition-timing-function: cubic-bezier(0.7, 0, 0, 0.7);
    -webkit-transition-delay: 0, 200ms, 0;
    transition-delay: 0, 200ms, 0;
    position: relative;
    top: 0;
}

.navbar-toggle:not(.collapsed) .icon-bar {
    -webkit-transition-delay: 0, 0, 200ms;
    transition-delay: 0, 0, 200ms;
}

.navbar-toggle:not(.collapsed) .icon-bar:nth-child(2) {
    top: 6px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.navbar-toggle:not(.collapsed) .icon-bar:nth-child(3) {
    opacity: 0;
}

.navbar-toggle:not(.collapsed) .icon-bar:nth-child(4) {
    top: -6px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
