html {
	font-size: 100%;
}

body {
	@include text(1em, 1.5, 300, $color : $kelly-green);
	background-color: #fce6bf;
	font-family: $stack-lato;
}

hr {
	border-color: $kelly-cream;
}

a {
	&:link {
		color: $kelly-green;
	}
	&:visited {
		color: $active-link;
	}
	&:hover {
		color: $active-link;
	}
}

@media #{$brk-small} {

	.clear-boot-padding {
		padding: 0;
	}
	
}
