
// Descriptive color variables

$white : #ffffff;
$black : #000000;

// Functional color variables

$kelly-green : #003822;
$kelly-green-transparent : rgba(0, 56, 34, 0.4);
$kelly-cream : #fce6bf;
$active-link : #54887F;

// Font stacks

$stack-sans-serif : Helvetica, Arial, sans-serif;
$stack-lato : 'Lato', $stack-sans-serif;

// Asset Paths

$path-img : '../images';


// Media query breakpoints


$brk-1200 : '(max-width: 1200px)';
$brk-wide : '(max-width: 1024px)';
$brk-wide-two : '(max-width: 992px)';
$brk-narrow : '(max-width: 768px)';
$brk-767 : '(max-width: 767px)';
$brk-small : '(max-width: 500px)';
$brk-xsmall : '(max-width: 320px)';