.contact-columns {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1rem 0 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3rem;

    @media (min-width: 800px) {
        grid-template-columns: 1.5fr 2fr;
    }


    h3 {
        font-size: 1.5625rem;
        text-transform: uppercase;
        font-weight: 400;
        margin-bottom: 2rem;
        font-weight: 900;
    }

    p {
        font-size: 1.5625rem;
        margin: 0 0 0 0;
    }

    a {
        font-size: 1.5625rem;
        margin: 0 0 0 0;
    }

    .address {
        margin-bottom: 2.1875rem;
    }

    #googleMap {
        margin-top: 2rem;

        @media(min-width: 800px) {
            margin-top: 0;
        }
    }
}